/* H E A D E R */
* {
	margin: 0; padding: 0;
	color: #f2f5f7;
	font-family:sans-serif ;
	letter-spacing: 1px;
	font-weight: 300;
}

/*Buttons Styling*/

.login-button { 
	padding: 0.6rem 0.8rem;
	margin-left: 2vw;
	font-size: 1rem;
	cursor:pointer;
	background-color: transparent;
	border:1.5px solid #000;
	border-radius: 2em;
	background: #A22C6D;
}

.login-button:hover {
	color:#fff;
	background-color: #A22C6D;
	border:1.5px solid #A22C6D;
	transition: all ease-in-out 350ms;
}

/*Nagition Icon Styling*/

.hamburger div {
	width: 30px;
	height: 3px;
	background: #f2f5f7;
	margin: 5px;
	transition: all 0.3s ease;
}

.hamburger {
	display: none;
}

.nav-links a {
	text-decoration: none;
}

/*Desktop*/
@media screen and (min-width: 980px) {
	.header {
		height: 130px;
		width: 100%;
		display: flex;
		position: fixed;
		z-index: 10;
		background-color: #000;
		box-shadow: 0 3px 20px rgba(0,0,0,0.2);
	}

	.logo {
		min-width: 210px;
		max-height: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.logo img {
		height: 100%;
		width: 100%;
	}

	.nav-links {
		width: 80vw;
		display: flex;
		padding: 0 0.7vw;
		justify-content: end;
		align-items: center;
		text-transform: uppercase;
		list-style: none;
		font-weight: 600;
	}

	.nav-links li a {
		margin: 0 0.4vw;
		transition: all ease-in-out 350ms;
		padding: 10px;
	}
	
	.nav-links li a:hover {
		color: #000;
		background-color: white;
		padding: 10px;
		border-radius: 50px;
	} 
	
	.nav-links li {
		position: relative;
	}
	
	.nav-links li a:hover::before {
		width: 80%;
	}
}

/*mobile*/
@media screen and (max-width: 980px) {
	.header {
		height: 100px;
		width: 100%;
		display: flex;
		position: fixed;
		z-index: 10;
		background-color: #000;
		box-shadow: 0 3px 20px rgba(0,0,0,0.2);
	}

	.logo {
		min-width: 110px;
		max-height: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 15px;
	}

	.logo img {
		height: 100%;
		width: 100%;
	}

	.nav-links {
		width: 80vw;
		display: flex;
		padding: 0 0.7vw;
		justify-content: flex-start;
		align-items: center;
		text-transform: uppercase;
		list-style: none;
		font-weight: 600;
		padding-top: 110px;
	}

	.space {
		margin: auto;
	}

	nav {
		position: fixed;
		z-index: 3;
	}

	.hamburger {
		display:block;
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 2;
		transition: all 0.7s ease;
	}

	.nav-links {
		background: #000;
		position: fixed;
		opacity: 1;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(50px at 90% -20%);
		-webkit-clip-path: circle(50px at 90% -10%);
		transition: all 1s ease-out;
		pointer-events: none;
	}

	.nav-links.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
		pointer-events: all;
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-links li:nth-child(1) {
		transition: all 0.5s ease 0.2s;
	}

	.nav-links li:nth-child(2) {
		transition: all 0.5s ease 0.4s;
	}

	.nav-links li:nth-child(3) {
		transition: all 0.5s ease 0.6s;
	}

	.nav-links li:nth-child(4) {
		transition: all 0.5s ease 0.7s;
	}

	.nav-links li:nth-child(5) {
		transition: all 0.5s ease 0.8s;
	}

	.nav-links li:nth-child(6) {
		transition: all 0.5s ease 0.9s;
		margin: 0;
	}

	.nav-links li:nth-child(7) {
		transition: all 0.5s ease 1s;
		margin: 0;
	}

	li.fade {
		opacity: 1;
		padding-top: 25px;
		padding-bottom: 25px;
	}

	/* Navigation Bar Icon on Click*/

	.toggle .bars1{
		transform: rotate(-45deg) translate(-5px, 6px);
	}

	.toggle .bars2{
		transition: all 0s ease;
		width: 0;
	}

	.toggle .bars3{
		transform: rotate(45deg) translate(-5px, -6px);
	}
}