*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container-plans {
	width: 100%;
	max-width: 1150px;
	margin: auto;
	padding: 50px 10px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.tabla{
	background: rgba(0,0,0,.7);
	width: 350px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	transition: .5s;
}

.tabla:hover{
	transform: scale(1.05);
}

.titulo{
	background: #7c0fe6;
	padding: 15px 0;
}

.titulo .fa {
	font-size: 50px;
	margin-bottom: 10px;
}

.titulo h2{
	font-size: 24px;
	text-transform: uppercase;
}

.precio{
padding: 10px 0;
}

.precio h3{
	font-size: 30px;
	color: #7c0fe6;
}

.precio h3 span{
	font-size: 50px;
	margin-left: 5px;
}

.descripcion ul li{
	list-style: none;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

.descripcion ul li .fa-check{
	color: #7c0fe6;
}

.descripcion ul li .fa-xmark{
	color: #ff4032;
}

.enlace a{
	display: inline-block;
	text-decoration: none;
	background: #7c0fe6;
	color: #fff;
	margin: 40px 0;
	padding: 10px 40px;
	border-radius: 50px;
	font-size: 22px;
	text-transform: uppercase;
	transition: .3s;
}

.tabla:nth-child(2) .titulo,
.tabla:nth-child(2) .enlace a{
	background: #ce3ff5;
}

.tabla:nth-child(2) .precio h3 {
	color: #ce3ff5;
} 

.tabla:nth-child(3) .titulo,
.tabla:nth-child(3) .enlace a{
	background: #00b2d3;
	
}

.tabla:nth-child(3) .precio h3 {
	color: #00b2d3;
}

/* desktop */
@media screen and (min-width: 980px) {
	.container-plans {
		margin-top: 130px;
	}
}

/* mobile */
@media screen and (max-width: 980px) {
	.container-plans {
		margin-top: 110px;
	}
}