/*desktop*/
@media screen and (min-width: 980px) {
	.slider {
		width: 100%;
		height: 500px;
		margin: auto;
		position: relative;
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		top: 130px;
		border-bottom: 10px solid #444242;
	}
}

/*mobile*/
@media screen and (max-width: 980px) {
	.slider {
		width: 100%;
		height: 300px;
		margin: auto;
		position: relative;
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		top: 100px;
	}
}

.slider img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.7s;
}

.slider input[type="radio"] {
  display: none;
}

.slider input[type="radio"]:checked ~ img {
 	opacity: 1;
}

.slider input[type="radio"] + label {
	position: relative;
	z-index: 50; 
	margin: 10px;
	display: block;
	width: 15px;
	height: 15px;
	background: black;
	border-radius: 50%;
	display: none;
}